
$white: #ffffff;
$black: #000000;

$greylight: #eeeeee;

$redlight: #e10013;
$reddark: #73121e;
$reddarkest:#390000;

$gothambold:'../fonts/GothamRounded-Bold';
$gothammedium:'../fonts/GothamRounded-Medium';
$gothambook:'../fonts/GothamRounded-Book';
